<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body style="
    background:#111827;
    color:white;
    font-family:Arial;
">

    <div style="
        width:400px;
        margin:auto;
        margin-top:120px;
        background:#1e293b;
        padding:30px;
        border-radius:10px;
    ">

        <h1 style="text-align:center;">
            🔐 Login
        </h1>

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Usuário"
                style="
                    width:100%;
                    padding:12px;
                    margin-top:15px;
                "
            >

            <input
                type="password"
                name="senha"
                placeholder="Senha"
                style="
                    width:100%;
                    padding:12px;
                    margin-top:15px;
                "
            >

            <button
                type="submit"
                style="
                    width:100%;
                    padding:12px;
                    margin-top:20px;
                    background:#38bdf8;
                    border:none;
                    color:white;
                "
            >
                Entrar
            </button>

        </form>

        <p style="margin-top:20px;">
            Usuário:
            <strong>admin</strong>
        </p>

        <p>
            Senha:
            <strong>1234</strong>
        </p>

    </div>

</body>

</html>